@import "setup";
@import "container";
@import "header";
@import "content";
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Roboto:wght@300&family=Tilt+Prism&display=swap');

@media(max-width: 750px){
    .container{
        grid-template-areas:
        "head head head head"
        "side side side side"
        "main main main main"
        "main main main main"
        "foot foot foot foot";
    }

    .nav-links{
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width: 376px){
    .container{
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }

    .container{
        grid-template-areas:
        "head head head head"
        "main main main main"
        "main main main main"
        "foot foot foot foot";
    }

    .side{
        display: none;
    }
}