$vh-height: 150vh;
$main-spacing: 1.25rem;
$main-spacing-small: $main-spacing * 0.67;
$primary: darkorange;
$primary-2: orangered;
$complementary: blueviolet;
$complementary-2: palevioletred;
$tertiary: darkslategrey;
$bg-color: rgb(29, 27, 27);

$photo-rad: 15px;
$line-height: 1.6rem;
$article-bord: 1px solid rgba(255, 255, 255, 0.8);
$main-bord-rad: 5px;
$second-bord-rad: $main-bord-rad/2;

@mixin resetCenter($align: row) {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: $align;
  justify-content: center;
  align-items: center;
}

@import 'layout';
@import 'nav';
@import 'header';
@import 'content';
@import 'news';
@import 'connect';
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Roboto:wght@300&family=Tilt+Prism&display=swap');

@media (max-width: 376px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
    height: 200vh;
    overflow-x: none !important;
  }

  .content {
    overflow-y: scroll !important;
  }

  .nav {
    overflow-x: hidden;
    @include resetCenter;
    background-color: black;
  }

  .header {
    @include resetCenter;
    background-color: black;
  }

  .spaceship {
    pointer-events: none;
  }

  .main {
    order: 3;
    background-color: darken($complementary, 30%);
    // background-color: $complementary;
  }

  .nav-links {
    width: 100%;
    background-color: white;
    @include resetCenter;
    padding: $main-spacing-small;
  }

  .nav-icon {
    margin-left: $main-spacing-small;
  }

  .link {
    @include resetCenter;
    & a {
      color: $bg-color;
      font-size: 10px;
      padding: 0;
      margin: 0;
      text-align: center;
    }
  }

  .gallery {
    display: flex;
    flex-direction: column;
  }

  .content-header {
    @include resetCenter;
    position: relative;
    right: 4rem;
    font-size: 1.75rem !important;
  }

  .image-container {
    width: 100% !important;
  }

  .home-img {
    pointer-events: none;
  }

  .gallery * {
    transition: none !important;
    transform: none !important;
    border-radius: 0 !important;
  }

  footer {
    order: 5;
  }
}
